.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  .modal-content {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    button {
      background: none;
      border: 1px solid black;
      padding: 1rem;
      cursor: pointer;
    }
  }
}
